body{
	background-color: lightcyan;
}

h1{
font-size: 20px;
color: #3E4B66;
}

h2{
font-size: 19px;
color: #50679A;
}

.big{
font-size: 25px;
}

.uppercase{
text-transform: uppercase;
}

h1 span{
color: gray;
}